In [ ]:
from ETL.ingestion import data_ingestion_kaggle

In [3]:
#get kaggle information necessary to download csv
data_ingestion_kaggle.move_kaggle_json()

proper_directory = data_ingestion_kaggle.initialize_data_path()

Kaggle json already exists in user

In [4]:
#Retrieve Kaggle datasets
kaggle_df_list = data_ingestion_kaggle.retrieve_training_csv(proper_directory)

Dataset URL: https://www.kaggle.com/datasets/wordsforthewise/lending-club
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv is folder or dir
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv is folder or dir
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv\accepted_2007_to_2018Q4.csv is a file
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv\rejected_2007_to_2018Q4.csv is a file

In [5]:
#Get the Kaggle Accepted DF cleaned up
kaggle_accepted_df = data_ingestion_kaggle.kaggle_accepted_loans_df(kaggle_df_list)
kaggle_rejected_df = data_ingestion_kaggle.kaggle_rejected_loans_df(kaggle_df_list)

2260668
pre outlier removal:27648741
pre outlier removal:27524504

In [11]:
kaggle_accepted_df.head(10)

,id,loan_amnt,funded_amnt,term_months,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,open_acc,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,home_ownership,loan_status,purpose,application_type,verification_status
2107643,123067566,11350.0,11350.0,36,7.35,352.28,68000.00,36.80,0.0,790.0,...,15.0,5618.0,16.3,36.0,0.0,MORTGAGE,Current,credit_card,Individual,Not Verified
487623,127841824,10000.0,10000.0,36,10.91,326.97,22000.00,14.13,0.0,725.0,...,3.0,9363.0,53.5,3.0,0.0,RENT,Current,credit_card,Joint App,Verified
1682605,100457617,8000.0,8000.0,36,11.49,263.78,91000.00,9.24,0.0,675.0,...,10.0,3421.0,21.8,19.0,1.0,RENT,Fully Paid,debt_consolidation,Individual,Not Verified
1851984,4278025,8725.0,8725.0,36,11.14,286.23,32041.54,21.42,0.0,710.0,...,11.0,14296.0,71.5,36.0,0.0,MORTGAGE,Fully Paid,debt_consolidation,Individual,Verified
1277038,16271887,35000.0,35000.0,36,14.99,1213.12,137653.00,20.64,2.0,660.0,...,12.0,47576.0,92.1,23.0,0.0,MORTGAGE,Fully Paid,debt_consolidation,Individual,Verified
1823186,6315409,10000.0,10000.0,36,11.55,330.00,42000.00,26.86,0.0,685.0,...,13.0,10037.0,74.3,24.0,1.0,MORTGAGE,Fully Paid,credit_card,Individual,Not Verified
1126765,36179528,4500.0,4500.0,36,8.67,142.41,59000.00,14.89,0.0,685.0,...,9.0,5020.0,39.5,12.0,0.0,RENT,Fully Paid,credit_card,Individual,Not Verified
950376,106836599,10000.0,10000.0,60,12.74,226.21,70000.00,13.92,0.0,675.0,...,10.0,29785.0,64.8,17.0,0.0,MORTGAGE,Current,credit_card,Individual,Not Verified
2094387,124061311,16000.0,16000.0,60,13.59,368.90,103500.00,14.61,0.0,715.0,...,5.0,19270.0,47.9,9.0,0.0,MORTGAGE,Fully Paid,credit_card,Individual,Verified
2009368,85694648,2100.0,2100.0,36,10.99,68.75,80000.00,21.23,1.0,690.0,...,13.0,4772.0,69.2,35.0,0.0,MORTGAGE,Current,vacation,Individual,Verified

In [8]:
kaggle_rejected_df.head(10)

,Amount Requested,Application Date,Loan Title,Debt-To-Income Ratio
11448571,32000.0,2018-03-26,debt_consolidation,156.64
13672887,4000.0,2016-01-11,debt_consolidation,9.87
15425584,15000.0,2018-10-26,debt_consolidation,31.03
17952100,15000.0,2018-04-28,debt_consolidation,20.79
11978664,20000.0,2017-07-20,debt_consolidation,11.40
19115992,2000.0,2018-06-09,other,0.32
24282708,10000.0,2015-12-02,debt_consolidation,19.64
44426,13000.0,2009-04-20,debt_consolidation,21.64
9275814,4000.0,2014-10-16,other,1.50
10978386,7500.0,2018-03-05,other,19.96

****HDMA Loan Functions****

In [6]:
import data_ingestion_hdma
proper_directory = data_ingestion_hdma.initialize_data_path()

In [7]:
hdma_accepted_df = data_ingestion_hdma.clean_hdma_accepted(proper_directory, sample=False)
hdma_accepted_df.head(10)

Sample input was set --> False, thus the entire dataset will be returned

,activity_year,action_taken,preapproval,loan_purpose,loan_amount,loan_term,applicant_credit_score_type,co-applicant_credit_score_type,loan_to_value_ratio,income,debt_to_income_ratio,derived_loan_product_type
0,2023,1,2,1,75000,360,3,10,80.000,180.0,44.0,Conventional:First Lien
1,2023,1,2,1,445000,360,1,9,84.000,153.0,37.0,Conventional:First Lien
2,2023,1,2,1,145000,360,2,10,96.500,73.0,42.0,FHA:First Lien
3,2023,1,2,1,425000,360,2,9,75.000,75.0,46.0,Conventional:First Lien
4,2023,1,2,1,425000,360,2,9,100.880,84.0,49.0,Conventional:First Lien
5,2023,1,2,1,325000,360,3,10,80.000,189.0,32.5,Conventional:First Lien
6,2023,1,2,1,305000,360,3,10,95.000,65.0,46.0,FHA:First Lien
7,2023,1,1,1,175000,360,1,10,100.000,61.0,44.0,FHA:First Lien
8,2023,1,2,1,125000,360,3,9,50.000,132.0,24.5,Conventional:First Lien
9,2023,1,2,1,275000,360,3,9,87.869,100.0,39.0,FHA:First Lien

In [9]:
hdma_rejected_df = data_ingestion_hdma.clean_hdma_rejected(proper_directory, sample=False)
hdma_rejected_df.head(10)

Sample input was set --> False, thus the entire dataset will be returned

,activity_year,action_taken,preapproval,loan_purpose,loan_amount,loan_term,applicant_credit_score_type,co-applicant_credit_score_type,denial_reason-1,loan_to_value_ratio,income,debt_to_income_ratio,derived_loan_product_type
0,2023,3,2,1,545000,360,2,9,1,80.000,110.0,55.0,Conventional:First Lien
1,2023,3,2,1,315000,360,3,9,4,98.974,65.0,55.0,FHA:First Lien
2,2023,3,2,1,255000,360,2,10,1,96.500,39.0,60.0,FHA:First Lien
3,2023,3,2,1,425000,360,2,9,1,90.000,85.0,60.0,Conventional:First Lien
4,2023,3,2,32,425000,360,1,9,1,78.879,158.0,32.5,FHA:First Lien
5,2023,3,2,32,215000,360,3,10,1,84.706,92.0,60.0,VA:First Lien
6,2023,3,2,1,245000,360,1,10,1,96.500,48.0,55.0,FHA:First Lien
7,2023,3,2,32,565000,360,1,9,3,76.087,134.0,55.0,FHA:First Lien
8,2023,3,2,1,415000,360,3,9,1,75.000,177.0,55.0,Conventional:First Lien
9,2023,3,2,32,365000,360,2,10,1,40.782,47.0,60.0,Conventional:First Lien

In [12]:
#Delete all big files (kaggle datasets in particular) to safely upload code to github
data_ingestion_kaggle.delete_large_files(proper_directory)

size of c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv is 1675.13381
deleting c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv
size of c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv is 1782.28162
deleting c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv