In [1]:
import data_ingestion_kaggle

In [2]:
#get kaggle information necessary to download csv
data_ingestion_kaggle.move_kaggle_json()

proper_directory = data_ingestion_kaggle.initialize_data_path()

Kaggle json already exists in user

In [4]:
#Retrieve Kaggle datasets
kaggle_df_list = data_ingestion_kaggle.retrieve_training_csv(proper_directory)

Dataset URL: https://www.kaggle.com/datasets/wordsforthewise/lending-club
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv is folder or dir
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv is folder or dir
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv\accepted_2007_to_2018Q4.csv is a file
c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv\rejected_2007_to_2018Q4.csv is a file

In [7]:
#Get the Kaggle Accepted DF cleaned up
kaggle_accepted_df = data_ingestion_kaggle.kaggle_accepted_loans_df(kaggle_df_list)
kaggle_rejected_df = data_ingestion_kaggle.kaggle_rejected_loans_df(kaggle_df_list)

replacing Amount Requested with median float
replacing Application Date na's with most repeated string
replacing Loan Title na's with most repeated string
replacing Debt-To-Income Ratio na's with most repeated string

In [8]:
kaggle_accepted_df.head(10)

,id,loan_amnt,funded_amnt,term_months,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,...,open_acc,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,home_ownership,loan_status,purpose,application_type,verification_status
238242,53212169,20000.0,20000.0,36,7.26,619.93,99000.0,13.79,0.0,730.0,...,11.0,27791.0,64.3,21.0,0.0,MORTGAGE,Fully Paid,credit_card,Individual,Source Verified
1751556,10178897,5000.0,5000.0,36,7.90,156.46,35000.0,14.03,0.0,725.0,...,11.0,4087.0,14.1,30.0,1.0,MORTGAGE,Fully Paid,credit_card,Individual,Not Verified
313634,46427043,9500.0,9500.0,36,5.93,288.71,75000.0,20.35,0.0,700.0,...,15.0,9845.0,27.6,36.0,1.0,RENT,Fully Paid,credit_card,Individual,Source Verified
1578115,132044747,16000.0,16000.0,36,5.31,481.77,40000.0,36.85,0.0,730.0,...,18.0,27210.0,31.8,29.0,0.0,MORTGAGE,Current,credit_card,Individual,Source Verified
1301224,13418070,5000.0,5000.0,36,6.03,152.18,87000.0,11.09,0.0,765.0,...,18.0,4519.0,8.2,41.0,0.0,MORTGAGE,Fully Paid,credit_card,Individual,Source Verified
53172,65812174,18000.0,18000.0,60,13.67,415.76,70000.0,16.42,0.0,700.0,...,9.0,14407.0,76.6,11.0,0.0,RENT,Fully Paid,debt_consolidation,Individual,Verified
407251,38609512,23700.0,23700.0,36,14.99,821.46,54000.0,39.04,0.0,660.0,...,15.0,50740.0,77.3,25.0,0.0,OWN,Fully Paid,debt_consolidation,Individual,Verified
626090,112433449,30000.0,30000.0,36,7.97,939.68,120000.0,20.56,1.0,700.0,...,11.0,8980.0,33.5,20.0,1.0,MORTGAGE,Current,debt_consolidation,Joint App,Verified
1950945,90304966,26800.0,26800.0,36,25.69,1075.37,67000.0,15.19,0.0,745.0,...,9.0,7220.0,19.8,11.0,0.0,RENT,Charged Off,home_improvement,Individual,Source Verified
2217049,92588241,3300.0,3300.0,36,8.24,103.78,60000.0,14.16,1.0,685.0,...,14.0,7456.0,20.2,25.0,1.0,RENT,Current,debt_consolidation,Individual,Source Verified

In [9]:
kaggle_rejected_df.head(10)

,Amount Requested,Application Date,Loan Title,Debt-To-Income Ratio
15574570,15000.0,2018-10-31,Credit card refinancing,39.01%
3923247,2500.0,2017-02-28,other,10.77%
14693421,40000.0,2018-10-01,Debt consolidation,24.13%
17679301,5000.0,2018-04-18,Credit card refinancing,19.3%
14825204,2500.0,2018-10-05,Debt consolidation,10.66%
10114387,10000.0,2018-01-21,Debt consolidation,27.94%
26629531,15000.0,2016-10-27,Debt consolidation,31.97%
17458701,25000.0,2018-04-10,Credit card refinancing,15.87%
22516874,35000.0,2015-05-05,credit_card,34.59%
11829501,2000.0,2017-07-14,Debt consolidation,56.1%

In [11]:
hdma_accepted_df = data_ingestion_kaggle.clean_hdma_accepted(proper_directory)
hdma_accepted_df.head(10)

,activity_year,action_taken,preapproval,loan_purpose,loan_amount,loan_term,loan_to_value_ratio,income,debt_to_income_ratio,derived_loan_product_type,applicant_credit_score_type,co-applicant_credit_score_type,denial_reason-1
0,2023,1,2,1,75000,360,80.000,180.0,44.0,Conventional:First Lien,3,10,10
1,2023,1,2,1,445000,360,84.000,153.0,37.0,Conventional:First Lien,1,9,10
2,2023,1,2,1,145000,360,96.500,73.0,42.0,FHA:First Lien,2,10,10
3,2023,1,2,1,425000,360,75.000,75.0,46.0,Conventional:First Lien,2,9,10
4,2023,1,2,1,425000,360,100.880,84.0,49.0,Conventional:First Lien,2,9,10
5,2023,1,2,1,325000,360,80.000,189.0,32.5,Conventional:First Lien,3,10,10
6,2023,1,2,1,305000,360,95.000,65.0,46.0,FHA:First Lien,3,10,10
7,2023,1,1,1,175000,360,100.000,61.0,44.0,FHA:First Lien,1,10,10
8,2023,1,2,1,125000,360,50.000,132.0,24.5,Conventional:First Lien,3,9,10
9,2023,1,2,1,275000,360,87.869,100.0,39.0,FHA:First Lien,3,9,10

In [12]:
hdma_rejected_df = data_ingestion_kaggle.clean_hdma_rejected(proper_directory)
hdma_rejected_df.head(10)

,activity_year,action_taken,preapproval,loan_purpose,loan_amount,loan_term,loan_to_value_ratio,income,debt_to_income_ratio,derived_loan_product_type,applicant_credit_score_type,co-applicant_credit_score_type,denial_reason-1
0,2023,3,2,1,545000,360,80.000,110.0,55.0,Conventional:First Lien,2,9,1
1,2023,3,2,1,315000,360,98.974,65.0,55.0,FHA:First Lien,3,9,4
2,2023,3,2,1,255000,360,96.500,39.0,60.0,FHA:First Lien,2,10,1
3,2023,3,2,1,425000,360,90.000,85.0,60.0,Conventional:First Lien,2,9,1
4,2023,3,2,32,425000,360,78.879,158.0,32.5,FHA:First Lien,1,9,1
5,2023,3,2,32,215000,360,84.706,92.0,60.0,VA:First Lien,3,10,1
6,2023,3,2,1,245000,360,96.500,48.0,55.0,FHA:First Lien,1,10,1
7,2023,3,2,32,565000,360,76.087,134.0,55.0,FHA:First Lien,1,9,3
8,2023,3,2,1,415000,360,75.000,177.0,55.0,Conventional:First Lien,3,9,1
9,2023,3,2,32,365000,360,40.782,47.0,60.0,Conventional:First Lien,2,10,1

In [ ]:
#Delete all big files (kaggle datasets in particular) to safely upload code to github
data_ingestion_kaggle.delete_large_files(proper_directory)

size of c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv is 1675.13381
deleting c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\accepted_2007_to_2018q4.csv
size of c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv is 1782.28162
deleting c:\Users\Saul\Desktop\Credit Risk Assessment\credit-risk-assessment\ETL\training_data\rejected_2007_to_2018q4.csv